<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>NUMBERPLATE DETECTOR</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">

    <link href={{url_for('static', filename="img/favicon.ico" )}}  rel="icon">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&family=Rubik&display=swap" rel="stylesheet"> 

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css" rel="stylesheet">

    <link href={{url_for('static', filename="lib/owlcarousel/assets/owl.carousel.min.css" )}} rel="stylesheet">
    <link href={{url_for('static', filename="lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css")}} rel="stylesheet" />

    <link href={{url_for('static', filename="css/bootstrap.min.css")}} rel="stylesheet">

    <link href={{url_for('static', filename="css/style.css")}} rel="stylesheet">
</head>

<body>
    <!-- Topbar Start -->
    <div class="container-fluid bg-dark py-3 px-lg-5 d-none d-lg-block">
        <div class="row">
            <div class="col-md-6 text-center text-lg-left mb-2 mb-lg-0">
                <div class="d-inline-flex align-items-center">
                    <a class="text-body pr-3" href=""><i class="fa fa-phone-alt mr-2"></i>+91 9061132571</a>
                    <span class="text-body">|</span>
                    <a class="text-body px-3" href=""><i class="fa fa-envelope mr-2"></i>manuns1122@gmail.com</a>
                </div>
            </div>
            <div class="col-md-6 text-center text-lg-right">
                <div class="d-inline-flex align-items-center">
                    <a class="text-body px-3" href="linkedin.com/in/manu-n-s-51a383239">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                    <a class="text-body px-3" href="https://instagram.com/_m_4_n_u_?igshid=NDk5N2NlZjQ=">
                        <i class="fab fa-instagram"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
  
    <div class="container-fluid position-relative nav-bar p-0">
        <div class="position-relative px-lg-5" style="z-index: 9;">
            <nav class="navbar navbar-expand-lg bg-secondary navbar-dark py-3 py-lg-0 pl-3 pl-lg-5">
                <a href="" class="navbar-brand">
                    <h1 class="text-uppercase text-primary mb-1">ANPD-MANU NS</h1>
                </a>
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-between px-3" id="navbarCollapse">
                    <div class="navbar-nav ml-auto py-0">
                        <a href="/" class="nav-item nav-link active">Home</a>
                        <a href="linkedin.com/in/manu-n-s-51a383239" class="nav-item nav-link">Contact</a>
                    </div>
                </div>
            </nav>
        </div>
    </div>

    <!-- <div style="display: flex; flex-direction: row;">
    </div>
    </style>
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="fa fa-angle-double-up"></i></a> -->


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src={{url_for('static', filename= "lib/easing/easing.min.js")}}></script>
    <script src={{url_for('static', filename= "lib/waypoints/waypoints.min.js")}}></script>
    <script src={{url_for('static', filename= "lib/owlcarousel/owl.carousel.min.js")}}></script>
    <script src={{url_for('static', filename= "lib/tempusdominus/js/moment.min.js")}}></script>
    <script src={{url_for('static', filename= "lib/tempusdominus/js/moment-timezone.min.js")}}></script>
    <script src={{url_for('static', filename="lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js" )}}></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>
</body>
{% block body %}
    
    
{% endblock  %}

</html>